# Retail Sales Analysis: Data Preprocessing

In [1]:
import pandas as pd
import numpy as np
import warnings

# Suppress warnings
warnings.filterwarnings("ignore")

# Load the Retail dataset
Transactions_df = pd.read_csv('Online Retail - Raw Data.csv')
Transactions_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-10 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,09-12-11 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,09-12-11 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,09-12-11 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,09-12-11 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,09-12-11 12:50,4.95,12680.0,France

In [2]:
Transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

## **1. InvoiceNo**

In [3]:
# Missing values? 
Transactions_df[Transactions_df['InvoiceNo'].isnull()]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [4]:
# Create a new column to mark cancelled transactions
Transactions_df['Cancelled'] = Transactions_df['InvoiceNo'].str.startswith('C')

# Convert InvoiceNo to numeric for non-cancelled rows
Transactions_df['InvoiceNo'] = Transactions_df['InvoiceNo'].str.extract('(\d+)').astype(int)

Transactions_df[(Transactions_df['Cancelled'] == True)]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Cancelled
141,536379,D,Discount,-1,01-12-10 9:41,27.50,14527.0,United Kingdom,True
154,536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,01-12-10 9:49,4.65,15311.0,United Kingdom,True
235,536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,01-12-10 10:24,1.65,17548.0,United Kingdom,True
236,536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,01-12-10 10:24,0.29,17548.0,United Kingdom,True
237,536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,01-12-10 10:24,0.29,17548.0,United Kingdom,True
...,...,...,...,...,...,...,...,...,...
540449,581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,09-12-11 9:57,0.83,14397.0,United Kingdom,True
541541,581499,M,Manual,-1,09-12-11 10:28,224.69,15498.0,United Kingdom,True
541715,581568,21258,VICTORIAN SEWING BOX LARGE,-5,09-12-11 11:57,10.95,15311.0,United Kingdom,True
541716,581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,09-12-11 11:58,1.25,17315.0,United Kingdom,True
541717,581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,09-12-11 11:58,1.25,17315.0,United Kingdom,True

## **2. StockCode**

In [5]:
# Missing values? 
Transactions_df[Transactions_df['StockCode'].isnull()]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, Cancelled]
Index: []

In [6]:
import re 

# Function to detect valid StockCode pattern (5 digits followed by 0 to 2 case insensitive letters)
valid_stockcode_pattern = r'^\d{5}[a-zA-Z]{0,2}$'
def is_valid_stockcode(stockcode):
    return bool(re.match(valid_stockcode_pattern, stockcode))

Transactions_df['ValidStockCode'] = Transactions_df['StockCode'].apply(is_valid_stockcode)

invalid_stockcode_rows = Transactions_df[Transactions_df['ValidStockCode'] == False]

print("invalid StockCode values:")
invalid_stockcode_rows[['Description', 'StockCode']].groupby(['Description', 'StockCode']).size().reset_index(name='Count')

invalid StockCode values:

                            Description     StockCode  Count
0                            AMAZON FEE     AMAZONFEE     34
1                       Adjust bad debt             B      3
2                   BOXED GLASS ASHTRAY      DCGS0003      4
3                        BOYS PARTY BAG      DCGSSBOY     11
4                          Bank Charges  BANK CHARGES     37
5                 CAMOUFLAGE DOG COLLAR      DCGS0070      1
6                              CARRIAGE            C2    143
7                       CRUK Commission          CRUK     16
8                        DOTCOM POSTAGE           DOT    709
9                              Discount             D     77
10   Dotcomgiftshop Gift Voucher Â£10.00  gift_0001_10      8
11   Dotcomgiftshop Gift Voucher Â£20.00  gift_0001_20      9
12   Dotcomgiftshop Gift Voucher Â£30.00  gift_0001_30      7
13   Dotcomgiftshop Gift Voucher Â£40.00  gift_0001_40      3
14   Dotcomgiftshop Gift Voucher Â£50.00  gift_0001_50      4
15                      GIRLS PARTY BAG     DCGSSGIRL     13
16           HAYNES CAMPER SHOULDER BAG      DCGS0004      1
17                               Manual             M    571
18                               Manual             m      1
19                OOH LA LA DOGS COLLAR      DCGS0069      1
20           PADS TO MATCH ALL CUSHIONS          PADS      4
21                              POSTAGE          POST   1252
22                              SAMPLES             S     63
23         SUNJAR LED NIGHT NIGHT LIGHT      DCGS0076      2
24                                 ebay      DCGS0003      1
25                                 ebay      DCGS0067      1
26                                 ebay      DCGS0068      1
27                                 ebay      DCGS0069      1
28                                 ebay      DCGS0073      1
29  to push order througha s stock was   gift_0001_20      1

In [7]:
# Above shows the following values are valid too
specific_stockcodes = [
    "DCGSSBOY", "DCGS0070", "DCGSSGIRL", 
    "DCGS0004", "PADS", "DCGS0076"
]

# Update 'ValidStockCode' column 
Transactions_df['ValidStockCode'] = Transactions_df['ValidStockCode'] | \
                                     Transactions_df['StockCode'].isin(specific_stockcodes)

# Keep only rows with valid StockCodes
Transactions_df = Transactions_df[Transactions_df['ValidStockCode']].drop(columns=['ValidStockCode']).reset_index(drop=True)

## **3. Quantity**

In [8]:
# Missing values, or zeros?
Transactions_df[(Transactions_df['Quantity'].isnull()) 
        | (Transactions_df['Quantity'] == 0)]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, Cancelled]
Index: []

In [9]:
# Filter rows where Quantity is negative and Cancelled is False
negative_quantity_rows = Transactions_df[
    (Transactions_df['Quantity'] < 0) & 
    (~Transactions_df['Cancelled'])  # Not Cancelled
]

print(negative_quantity_rows)

print("Number of unique customers with negative quantities and not cancelled:", negative_quantity_rows['CustomerID'].nunique())
print("Number of unique UnitPrice with negative quantities and not cancelled:", negative_quantity_rows['UnitPrice'].nunique())

        InvoiceNo StockCode Description  Quantity     InvoiceDate  UnitPrice  \
2398       536589     21777         NaN       -10  01-12-10 16:50        0.0
4338       536764    84952C         NaN       -38  02-12-10 14:42        0.0
7164       536996     22712         NaN       -20  03-12-10 15:30        0.0
7165       536997     22028         NaN       -20  03-12-10 15:30        0.0
7166       536998     85067         NaN        -6  03-12-10 15:30        0.0
...           ...       ...         ...       ...             ...        ...
532388     581210     23395       check       -26  07-12-11 18:36        0.0
532390     581212     22578        lost     -1050  07-12-11 18:38        0.0
532391     581213     22576       check       -30  07-12-11 18:38        0.0
533960     581226     23090     missing      -338   08-12-11 9:56        0.0
535966     581422     23169     smashed      -235  08-12-11 15:24        0.0

        CustomerID         Country  Cancelled
2398           NaN  United Kingdom      False
4338           NaN  United Kingdom      False
7164           NaN  United Kingdom      False
7165           NaN  United Kingdom      False
7166           NaN  United Kingdom      False
...            ...             ...        ...
532388         NaN  United Kingdom      False
532390         NaN  United Kingdom      False
532391         NaN  United Kingdom      False
533960         NaN  United Kingdom      False
535966         NaN  United Kingdom      False

[1325 rows x 9 columns]
Number of unique customers with negative quantities and not cancelled: 0
Number of unique UnitPrice with negative quantities and not cancelled: 1

In [10]:
# Above shows all the negative Quantities with (Cancel = False) have NaN CustomerID value and (UnitPrice = 0). Let's remove these rows. 
Transactions_df = Transactions_df[
    ~((Transactions_df['Quantity'] < 0) & (~Transactions_df['Cancelled']))
]

## **4. InvoiceDate**

In [11]:
# Convert to datetime
Transactions_df['InvoiceDate'] = pd.to_datetime(Transactions_df['InvoiceDate'], format='%d-%m-%y %H:%M', errors='coerce')

# Missing values or non-date, or zeros?
Transactions_df[Transactions_df['InvoiceDate'].isnull()]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, Cancelled]
Index: []

## **5. CustomerID**

In [12]:
# Missing values? 
print("It's okay to have missing values in CustomerID as long as InvoiceNo and StockCode are not missing.\n")
Transactions_df[Transactions_df['CustomerID'].isnull()]

It's okay to have missing values in CustomerID as long as InvoiceNo and StockCode are not missing.

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Cancelled
619,536414,22139,NaN,56,2010-12-01 11:52:00,0.00,NaN,United Kingdom,False
1438,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom,False
1439,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom,False
1440,536544,21786,POLKADOT RAIN HAT,4,2010-12-01 14:32:00,0.85,NaN,United Kingdom,False
1441,536544,21787,RAIN PONCHO RETROSPOT,2,2010-12-01 14:32:00,1.66,NaN,United Kingdom,False
...,...,...,...,...,...,...,...,...,...
538578,581498,85049e,SCANDINAVIAN REDS RIBBONS,4,2011-12-09 10:26:00,3.29,NaN,United Kingdom,False
538579,581498,85099B,JUMBO BAG RED RETROSPOT,5,2011-12-09 10:26:00,4.13,NaN,United Kingdom,False
538580,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,2011-12-09 10:26:00,4.13,NaN,United Kingdom,False
538581,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,2011-12-09 10:26:00,4.96,NaN,United Kingdom,False
538582,581498,85174,S/4 CACTI CANDLES,1,2011-12-09 10:26:00,10.79,NaN,United Kingdom,False

In [13]:
# Replace missing CustomerIDs with "UNKNOWN" and remove floating point
Transactions_df['CustomerID'] = Transactions_df['CustomerID'].fillna('UNKNOWN').astype(str).str.replace(r'\.0$', '', regex=True)

## **6. UnitPrice**

In [14]:
# Missing values or negatives?
Transactions_df[(Transactions_df['UnitPrice'].isnull()) 
        | (Transactions_df['UnitPrice'] < 0)]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, Cancelled]
Index: []

In [15]:
# Display all rows
pd.set_option('display.max_rows', None)

In [16]:
# Identify rows where 'CustomerID' is not 'UNKNOWN' and 'UnitPrice' is zero (free items)
Transactions_df[(Transactions_df['CustomerID'] != 'UNKNOWN') & (Transactions_df['UnitPrice'] == 0)]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Cancelled
9269,537197,22841,ROUND CAKE TIN VINTAGE GREEN,1,2010-12-05 14:02:00,0.0,12647,Germany,False
33445,539263,22580,ADVENT CALENDAR GINGHAM SACK,4,2010-12-16 14:36:00,0.0,16560,United Kingdom,False
39917,539722,22423,REGENCY CAKESTAND 3 TIER,10,2010-12-21 13:45:00,0.0,14911,EIRE,False
46844,540372,22090,PAPER BUNTING RETROSPOT,24,2011-01-06 16:41:00,0.0,13081,United Kingdom,False
46846,540372,22553,PLASTERS IN TIN SKULLS,24,2011-01-06 16:41:00,0.0,13081,United Kingdom,False
56409,541109,22168,ORGANISER WOOD ANTIQUE WHITE,1,2011-01-13 15:10:00,0.0,15107,United Kingdom,False
86348,543599,84535B,FAIRY CAKES NOTEBOOK A6 SIZE,16,2011-02-10 13:08:00,0.0,17560,United Kingdom,False
129443,547417,22062,CERAMIC BOWL WITH LOVE HEART DESIGN,36,2011-03-23 10:25:00,0.0,13239,United Kingdom,False
138642,548318,22055,MINI CAKE STAND HANGING STRAWBERY,5,2011-03-30 12:45:00,0.0,13113,United Kingdom,False
144350,548871,22162,HEART GARLAND RUSTIC PADDED,2,2011-04-04 14:42:00,0.0,14410,United Kingdom,False
156135,550188,22636,CHILDS BREAKFAST SET CIRCUS PARADE,1,2011-04-14 18:57:00,0.0,12457,Switzerland,False
186515,553000,47566,PARTY BUNTING,4,2011-05-12 15:21:00,0.0,17667,United Kingdom,False
197197,554037,22619,SET OF 6 SOLDIER SKITTLES,80,2011-05-20 14:13:00,0.0,12415,Australia,False
277600,561284,22167,OVAL WALL MIRROR DIAMANTE,1,2011-07-26 12:24:00,0.0,16818,United Kingdom,False
281170,561669,22960,JAM MAKING SET WITH JARS,11,2011-07-28 17:09:00,0.0,12507,Spain,False
296236,562973,23157,SET OF 6 NATIVITY MAGNETS,240,2011-08-11 11:42:00,0.0,14911,EIRE,False
312829,564651,23270,SET OF 2 CERAMIC PAINTED HEARTS,96,2011-08-26 14:19:00,0.0,14646,Netherlands,False
312830,564651,23268,SET OF 2 CERAMIC CHRISTMAS REINDEER,192,2011-08-26 14:19:00,0.0,14646,Netherlands,False
312831,564651,22955,36 FOIL STAR CAKE CASES,144,2011-08-26 14:19:00,0.0,14646,Netherlands,False
312832,564651,21786,POLKADOT RAIN HAT,144,2011-08-26 14:19:00,0.0,14646,Netherlands,False
356496,568158,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 12:22:00,0.0,16133,United Kingdom,False
377667,569716,22778,GLASS CLOCHE SMALL,2,2011-10-06 08:17:00,0.0,15804,United Kingdom,False
417934,572893,21208,PASTEL COLOUR HONEYCOMB FAN,5,2011-10-26 14:36:00,0.0,18059,United Kingdom,False
433890,574138,23234,BISCUIT TIN VINTAGE CHRISTMAS,216,2011-11-03 11:26:00,0.0,12415,Australia,False
434059,574175,22065,CHRISTMAS PUDDING TRINKET POT,12,2011-11-03 11:47:00,0.0,14110,United Kingdom,False
436804,574469,22385,JUMBO BAG SPACEBOY DESIGN,12,2011-11-04 11:55:00,0.0,12431,Australia,False
443546,574879,22625,RED KITCHEN SCALES,2,2011-11-07 13:22:00,0.0,13014,United Kingdom,False
444211,574920,22899,CHILDREN'S APRON DOLLY GIRL,1,2011-11-07 16:34:00,0.0,13985,United Kingdom,False
444212,574920,23480,MINI LIGHTS WOODLAND MUSHROOMS,1,2011-11-07 16:34:00,0.0,13985,United Kingdom,False
451855,575579,22437,SET OF 9 BLACK SKULL BALLOONS,20,2011-11-10 11:49:00,0.0,13081,United Kingdom,False
451856,575579,22089,PAPER BUNTING VINTAGE PAISLEY,24,2011-11-10 11:49:00,0.0,13081,United Kingdom,False
476361,577129,22464,HANGING METAL HEART LANTERN,4,2011-11-17 19:52:00,0.0,15602,United Kingdom,False
477917,577314,23407,SET OF 2 TRAYS HOME SWEET HOME,2,2011-11-18 13:23:00,0.0,12444,Norway,False
499301,578841,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,2011-11-25 15:57:00,0.0,13256,United Kingdom,False

In [19]:
# Identify rows where:
# - 'Description' does not contain all-uppercase words,
# - 'CustomerID' is 'UNKNOWN',
# - 'UnitPrice' is zero (indicating free items)
Transactions_df[
    (~Transactions_df['Description'].str.contains(r'\b[A-Z]+\b', na=False)) &
    (Transactions_df['CustomerID'] == 'UNKNOWN') &
    (Transactions_df['UnitPrice'] == 0)
]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Cancelled
619,536414,22139,NaN,56,2010-12-01 11:52:00,0.0,UNKNOWN,United Kingdom,False
1964,536545,21134,NaN,1,2010-12-01 14:32:00,0.0,UNKNOWN,United Kingdom,False
1965,536546,22145,NaN,1,2010-12-01 14:33:00,0.0,UNKNOWN,United Kingdom,False
1966,536547,37509,NaN,1,2010-12-01 14:33:00,0.0,UNKNOWN,United Kingdom,False
1981,536549,85226A,NaN,1,2010-12-01 14:34:00,0.0,UNKNOWN,United Kingdom,False
1982,536550,85044,NaN,1,2010-12-01 14:34:00,0.0,UNKNOWN,United Kingdom,False
2018,536552,20950,NaN,1,2010-12-01 14:34:00,0.0,UNKNOWN,United Kingdom,False
2019,536553,37461,NaN,3,2010-12-01 14:35:00,0.0,UNKNOWN,United Kingdom,False
2020,536554,84670,NaN,23,2010-12-01 14:35:00,0.0,UNKNOWN,United Kingdom,False
4339,536765,84952C,NaN,19,2010-12-02 14:43:00,0.0,UNKNOWN,United Kingdom,False
6372,536941,22734,amazon,20,2010-12-03 12:08:00,0.0,UNKNOWN,United Kingdom,False
6373,536942,22139,amazon,15,2010-12-03 12:08:00,0.0,UNKNOWN,United Kingdom,False
7163,536995,35951,NaN,57,2010-12-03 15:29:00,0.0,UNKNOWN,United Kingdom,False
7167,536999,21421,NaN,110,2010-12-03 15:32:00,0.0,UNKNOWN,United Kingdom,False
7170,537002,21651,NaN,70,2010-12-03 15:33:00,0.0,UNKNOWN,United Kingdom,False
11965,537361,21777,NaN,5,2010-12-06 12:34:00,0.0,UNKNOWN,United Kingdom,False
13214,537430,85215,NaN,120,2010-12-06 16:05:00,0.0,UNKNOWN,United Kingdom,False
13908,537436,84270,NaN,7,2010-12-06 17:00:00,0.0,UNKNOWN,United Kingdom,False
13909,537437,90167,NaN,10,2010-12-06 17:00:00,0.0,UNKNOWN,United Kingdom,False
13910,537438,22959,NaN,13,2010-12-06 17:00:00,0.0,UNKNOWN,United Kingdom,False
13911,537439,37474,NaN,1,2010-12-06 17:01:00,0.0,UNKNOWN,United Kingdom,False
15586,537639,22734,amazon,30,2010-12-07 15:29:00,0.0,UNKNOWN,United Kingdom,False
19543,537872,21595,NaN,1,2010-12-08 18:07:00,0.0,UNKNOWN,United Kingdom,False
19544,537873,37461,NaN,1,2010-12-08 18:07:00,0.0,UNKNOWN,United Kingdom,False
19545,537874,85170A,NaN,1,2010-12-08 18:07:00,0.0,UNKNOWN,United Kingdom,False
19546,537875,20849,NaN,1,2010-12-08 18:08:00,0.0,UNKNOWN,United Kingdom,False
19547,537876,84977,NaN,2,2010-12-08 18:08:00,0.0,UNKNOWN,United Kingdom,False
19548,537877,21661,NaN,1,2010-12-08 18:08:00,0.0,UNKNOWN,United Kingdom,False
19549,537878,72803B,NaN,1,2010-12-08 18:09:00,0.0,UNKNOWN,United Kingdom,False
19910,538001,35958,NaN,10,2010-12-09 11:45:00,0.0,UNKNOWN,United Kingdom,False
19946,538004,22114,NaN,144,2010-12-09 12:11:00,0.0,UNKNOWN,United Kingdom,False
20232,538036,21690,NaN,34,2010-12-09 13:04:00,0.0,UNKNOWN,United Kingdom,False
20238,538038,21488,NaN,8,2010-12-09 13:07:00,0.0,UNKNOWN,United Kingdom,False
20239,538039,22139,NaN,7,2010-12-09 13:07:00,0.0,UNKNOWN,United Kingdom,False
20300,538041,22145,NaN,30,2010-12-09 13:09:00,0.0,UNKNOWN,United Kingdom,False
20306,538045,84688,NaN,27,2010-12-09 13:11:00,0.0,UNKNOWN,United Kingdom,False
21682,538128,21357,NaN,46,2010-12-09 15:54:00,0.0,UNKNOWN,United Kingdom,False
21683,538129,84497,NaN,79,2010-12-09 15:55:00,0.0,UNKNOWN,United Kingdom,False
21684,538130,90042C,NaN,10,2010-12-09 15:55:00,0.0,UNKNOWN,United Kingdom,False
21685,538131,17091A,NaN,84,2010-12-09 15:56:00,0.0,UNKNOWN,United Kingdom,False
21686,538132,84773,NaN,3,2010-12-09 15:56:00,0.0,UNKNOWN,United Kingdom,False
21687,538133,85018C,NaN,3,2010-12-09 15:56:00,0.0,UNKNOWN,United Kingdom,False
21688,538134,20878,NaN,2,2010-12-09 15:56:00,0.0,UNKNOWN,United Kingdom,False
21689,538135,21186,NaN,2,2010-12-09 15:56:00,0.0,UNKNOWN,United Kingdom,False
21690,538136,37509,NaN,2,2010-12-09 15:57:00,0.0,UNKNOWN,United Kingdom,False
21691,538137,62095B,NaN,2,2010-12-09 15:57:00,0.0,UNKNOWN,United Kingdom,False
21692,538138,72814,NaN,2,2010-12-09 15:57:00,0.0,UNKNOWN,United Kingdom,False
21693,538139,84802A,NaN,2,2010-12-09 15:57:00,0.0,UNKNOWN,United Kingdom,False
21694,538140,90002D,NaN,9,2010-12-09 15:57:00,0.0,UNKNOWN,United Kingdom,False
21695,538141,22218,NaN,2,2010-12-09 15:58:00,0.0,UNKNOWN,United Kingdom,False
21696,538142,84247C,NaN,1,2010-12-09 15:58:00,0.0,UNKNOWN,United Kingdom,False
21697,538143,84534B,NaN,1,2010-12-09 15:58:00,0.0,UNKNOWN,United Kingdom,False
21698,538144,90042B,NaN,1,2010-12-09 15:58:00,0.0,UNKNOWN,United Kingdom,False
22195,538160,20956,NaN,288,2010-12-09 17:18:00,0.0,UNKNOWN,United Kingdom,False
23700,538249,85084,NaN,25,2010-12-10 12:19:00,0.0,UNKNOWN,United Kingdom,False
24185,538348,22734,amazon,30,2010-12-10 14:59:00,0.0,UNKNOWN,United Kingdom,False
25108,538359,35958,NaN,2,2010-12-10 16:29:00,0.0,UNKNOWN,United Kingdom,False
25109,538360,35004P,NaN,1,2010-12-10 16:29:00,0.0,UNKNOWN,United Kingdom,False
30244,538861,22444,NaN,460,2010-12-14 14:04:00,0.0,UNKNOWN,United Kingdom,False
30435,538873,22734,amazon sales,20,2010-12-14 15:13:00,0.0,UNKNOWN,United Kingdom,False
34464,539413,22959,NaN,12,2010-12-17 13:44:00,0.0,UNKNOWN,United Kingdom,False
38101,539494,21479,?,752,2010-12-20 10:36:00,0.0,UNKNOWN,United Kingdom,False
38102,539495,22591,NaN,36,2010-12-20 10:37:00,0.0,UNKNOWN,United Kingdom,False
38378,539582,71477,NaN,8,2010-12-20 12:53:00,0.0,UNKNOWN,United Kingdom,False
38379,539583,35400,NaN,1,2010-12-20 12:53:00,0.0,UNKNOWN,United Kingdom,False
38380,539584,21491,NaN,1,2010-12-20 12:54:00,0.0,UNKNOWN,United Kingdom,False
38381,539585,21009,NaN,1,2010-12-20 12:54:00,0.0,UNKNOWN,United Kingdom,False
38883,539611,85135B,Found,53,2010-12-20 14:33:00,0.0,UNKNOWN,United Kingdom,False
39203,539638,22139,NaN,1,2010-12-20 15:23:00,0.0,UNKNOWN,United Kingdom,False
40759,539749,22734,NaN,30,2010-12-21 15:33:00,0.0,UNKNOWN,United Kingdom,False
42304,539997,84689,NaN,5,2011-01-04 10:15:00,0.0,UNKNOWN,United Kingdom,False
42305,539998,84675,NaN,2,2011-01-04 10:16:00,0.0,UNKNOWN,United Kingdom,False
42368,540011,22501,NaN,30,2011-01-04 11:13:00,0.0,UNKNOWN,United Kingdom,False
42514,540018,90112,NaN,2,2011-01-04 12:07:00,0.0,UNKNOWN,United Kingdom,False
45179,540256,35957,NaN,35,2011-01-05 17:21:00,0.0,UNKNOWN,United Kingdom,False
51515,540673,21644,found,144,2011-01-10 16:04:00,0.0,UNKNOWN,United Kingdom,False
51516,540674,22837,Found,26,2011-01-10 16:05:00,0.0,UNKNOWN,United Kingdom,False
51517,540675,20748,Found,40,2011-01-10 16:05:00,0.0,UNKNOWN,United Kingdom,False
51518,540676,84534B,NaN,12,2011-01-10 16:05:00,0.0,UNKNOWN,United Kingdom,False
51519,540677,21667,NaN,1,2011-01-10 16:20:00,0.0,UNKNOWN,United Kingdom,False
51970,540693,82605,NaN,1,2011-01-11 09:13:00,0.0,UNKNOWN,United Kingdom,False
51971,540694,71477,NaN,1,2011-01-11 09:13:00,0.0,UNKNOWN,United Kingdom,False
51972,540695,21661,NaN,1,2011-01-11 09:14:00,0.0,UNKNOWN,United Kingdom,False
51973,540696,84562A,NaN,1,2011-01-11 09:14:00,0.0,UNKNOWN,United Kingdom,False
55009,540982,22323,NaN,1,2011-01-12 15:35:00,0.0,UNKNOWN,United Kingdom,False
65560,541697,21632,NaN,8,2011-01-20 18:09:00,0.0,UNKNOWN,United Kingdom,False
71287,542156,21348,NaN,8,2011-01-26 10:52:00,0.0,UNKNOWN,United Kingdom,False
73237,542363,84823,NaN,1,2011-01-27 12:50:00,0.0,UNKNOWN,United Kingdom,False
73238,542364,21324,NaN,5,2011-01-27 12:50:00,0.0,UNKNOWN,United Kingdom,False
73393,542378,84279B,NaN,192,2011-01-27 13:56:00,0.0,UNKNOWN,United Kingdom,False
73575,542394,84452,NaN,65,2011-01-27 15:11:00,0.0,UNKNOWN,United Kingdom,False
74252,542504,37413,NaN,5568,2011-01-28 12:03:00,0.0,UNKNOWN,United Kingdom,False
74253,542505,79063D,NaN,2560,2011-01-28 12:04:00,0.0,UNKNOWN,United Kingdom,False
74280,542507,20798,NaN,5,2011-01-28 12:06:00,0.0,UNKNOWN,United Kingdom,False
74281,542508,37467,NaN,136,2011-01-28 12:06:00,0.0,UNKNOWN,United Kingdom,False
74282,542509,85049B,NaN,3,2011-01-28 12:07:00,0.0,UNKNOWN,United Kingdom,False
74283,542510,21667,NaN,2,2011-01-28 12:07:00,0.0,UNKNOWN,United Kingdom,False
74293,542512,22830,NaN,2,2011-01-28 12:07:00,0.0,UNKNOWN,United Kingdom,False
74294,542513,75013B,NaN,2,2011-01-28 12:08:00,0.0,UNKNOWN,United Kingdom,False
74295,542514,22866,NaN,1,2011-01-28 12:08:00,0.0,UNKNOWN,United Kingdom,False
74296,542515,35607A,NaN,1,2011-01-28 12:08:00,0.0,UNKNOWN,United Kingdom,False
74297,542516,71477,NaN,4,2011-01-28 12:08:00,0.0,UNKNOWN,United Kingdom,False
74851,542545,17165D,NaN,9,2011-01-28 14:44:00,0.0,UNKNOWN,United Kingdom,False
77369,542783,21690,NaN,4,2011-02-01 10:02:00,0.0,UNKNOWN,United Kingdom,False
77370,542784,84795C,NaN,3,2011-02-01 10:04:00,0.0,UNKNOWN,United Kingdom,False
78039,542880,22242,NaN,10,2011-02-01 12:53:00,0.0,UNKNOWN,United Kingdom,False
79065,542965,35400,NaN,2,2011-02-02 11:22:00,0.0,UNKNOWN,United Kingdom,False
79655,543014,47591B,NaN,1,2011-02-02 13:36:00,0.0,UNKNOWN,United Kingdom,False
80255,543049,79063C,NaN,320,2011-02-03 10:09:00,0.0,UNKNOWN,United Kingdom,False
80260,543051,79062D,NaN,960,2011-02-03 10:15:00,0.0,UNKNOWN,United Kingdom,False
81386,543176,22353,NaN,60,2011-02-04 09:52:00,0.0,UNKNOWN,United Kingdom,False
82190,543238,22833,NaN,1,2011-02-04 13:42:00,0.0,UNKNOWN,United Kingdom,False
82349,543254,35645,NaN,18,2011-02-04 15:40:00,0.0,UNKNOWN,United Kingdom,False
82375,543258,84611B,NaN,1287,2011-02-04 16:06:00,0.0,UNKNOWN,United Kingdom,False
82409,543267,35645,NaN,3,2011-02-04 17:24:00,0.0,UNKNOWN,United Kingdom,False
82410,543268,84306,NaN,3,2011-02-04 17:24:00,0.0,UNKNOWN,United Kingdom,False
83952,543386,16207B,NaN,4,2011-02-08 09:22:00,0.0,UNKNOWN,United Kingdom,False
84555,543453,21429,NaN,1,2011-02-08 12:15:00,0.0,UNKNOWN,United Kingdom,False
85056,543471,85150,NaN,118,2011-02-08 15:00:00,0.0,UNKNOWN,United Kingdom,False
85057,543472,22451,NaN,1,2011-02-08 15:01:00,0.0,UNKNOWN,United Kingdom,False
85058,543473,21661,NaN,1,2011-02-08 15:01:00,0.0,UNKNOWN,United Kingdom,False
87750,543781,21655,NaN,19,2011-02-11 16:36:00,0.0,UNKNOWN,United Kingdom,False
87751,543782,85232B,NaN,6,2011-02-11 16:36:00,0.0,UNKNOWN,United Kingdom,False
90388,544072,22837,NaN,26,2011-02-15 14:32:00,0.0,UNKNOWN,United Kingdom,False
93434,544321,16033,NaN,120,2011-02-17 15:42:00,0.0,UNKNOWN,United Kingdom,False
93808,544344,22865,NaN,51,2011-02-18 09:47:00,0.0,UNKNOWN,United Kingdom,False
93809,544345,22866,NaN,1,2011-02-18 09:49:00,0.0,UNKNOWN,United Kingdom,False
93812,544348,84029E,NaN,13,2011-02-18 09:52:00,0.0,UNKNOWN,United Kingdom,False
107984,545551,15058A,NaN,20,2011-03-03 15:11:00,0.0,UNKNOWN,United Kingdom,False
107986,545553,84459B,NaN,16,2011-03-03 15:12:00,0.0,UNKNOWN,United Kingdom,False
108918,545651,21973,NaN,140,2011-03-04 13:14:00,0.0,UNKNOWN,United Kingdom,False
109316,545666,37468,NaN,67,2011-03-04 15:33:00,0.0,UNKNOWN,United Kingdom,False
111594,545875,21736,Adjustment,34,2011-03-07 15:18:00,0.0,UNKNOWN,United Kingdom,False
113899,546026,90200C,NaN,4,2011-03-08 17:43:00,0.0,UNKNOWN,United Kingdom,False
114145,546085,84535A,NaN,144,2011-03-09 11:32:00,0.0,UNKNOWN,United Kingdom,False
114616,546114,84247K,NaN,47,2011-03-09 13:47:00,0.0,UNKNOWN,United Kingdom,False
115159,546139,84988,?,3000,2011-03-09 16:35:00,0.0,UNKNOWN,United Kingdom,False
115161,546141,79302M,NaN,73,2011-03-09 16:36:00,0.0,UNKNOWN,United Kingdom,False
115705,546240,85045,NaN,20,2011-03-10 13:00:00,0.0,UNKNOWN,United Kingdom,False
115753,546244,21484,NaN,219,2011-03-10 13:24:00,0.0,UNKNOWN,United Kingdom,False
116265,546307,84029G,NaN,280,2011-03-10 16:22:00,0.0,UNKNOWN,United Kingdom,False
116266,546308,21555,NaN,232,2011-03-10 16:23:00,0.0,UNKNOWN,United Kingdom,False
116267,546309,85185B,NaN,180,2011-03-10 16:24:00,0.0,UNKNOWN,United Kingdom,False
116592,546375,85096,NaN,48,2011-03-11 12:07:00,0.0,UNKNOWN,United Kingdom,False
117232,546408,22467,wrongly sold (22719) barcode,170,2011-03-11 16:25:00,0.0,UNKNOWN,United Kingdom,False
119923,546666,79321,NaN,72,2011-03-15 15:14:00,0.0,UNKNOWN,United Kingdom,False
120081,546673,23348,NaN,48,2011-03-15 16:11:00,0.0,UNKNOWN,United Kingdom,False
127712,547328,22272,NaN,45,2011-03-22 11:37:00,0.0,UNKNOWN,United Kingdom,False
127741,547343,77101A,NaN,4,2011-03-22 11:54:00,0.0,UNKNOWN,United Kingdom,False
127744,547344,22838,NaN,5,2011-03-22 11:55:00,0.0,UNKNOWN,United Kingdom,False
127748,547348,85206A,NaN,4,2011-03-22 11:57:00,0.0,UNKNOWN,United Kingdom,False
129051,547394,71477,NaN,1,2011-03-22 16:38:00,0.0,UNKNOWN,United Kingdom,False
129052,547395,84977,NaN,1,2011-03-22 16:38:00,0.0,UNKNOWN,United Kingdom,False
129334,547402,85028L,NaN,12,2011-03-22 17:04:00,0.0,UNKNOWN,United Kingdom,False
129336,547404,85028S,NaN,24,2011-03-22 17:05:00,0.0,UNKNOWN,United Kingdom,False
130193,547522,21717,NaN,5,2011-03-23 15:02:00,0.0,UNKNOWN,United Kingdom,False
130194,547523,85197,NaN,5,2011-03-23 15:03:00,0.0,UNKNOWN,United Kingdom,False
130195,547524,22451,NaN,4,2011-03-23 15:03:00,0.0,UNKNOWN,United Kingdom,False
130196,547525,21258,NaN,3,2011-03-23 15:04:00,0.0,UNKNOWN,United Kingdom,False
130197,547526,22627,NaN,3,2011-03-23 15:04:00,0.0,UNKNOWN,United Kingdom,False
130198,547527,21826,NaN,2,2011-03-23 15:04:00,0.0,UNKNOWN,United Kingdom,False
130199,547528,84840,NaN,2,2011-03-23 15:05:00,0.0,UNKNOWN,United Kingdom,False
130200,547529,21841,NaN,1,2011-03-23 15:05:00,0.0,UNKNOWN,United Kingdom,False
130201,547530,22764,NaN,3,2011-03-23 15:05:00,0.0,UNKNOWN,United Kingdom,False
130202,547531,82605,NaN,1,2011-03-23 15:06:00,0.0,UNKNOWN,United Kingdom,False
130203,547532,84227,NaN,1,2011-03-23 15:06:00,0.0,UNKNOWN,United Kingdom,False
130204,547533,84968B,NaN,2,2011-03-23 15:06:00,0.0,UNKNOWN,United Kingdom,False
130205,547534,90084,NaN,1,2011-03-23 15:06:00,0.0,UNKNOWN,United Kingdom,False
130216,547536,90005A,NaN,1,2011-03-23 15:07:00,0.0,UNKNOWN,United Kingdom,False
130637,547557,22866,NaN,2,2011-03-23 16:53:00,0.0,UNKNOWN,United Kingdom,False
130848,547575,85025C,NaN,144,2011-03-24 10:18:00,0.0,UNKNOWN,United Kingdom,False
130984,547626,20973,NaN,60,2011-03-24 11:30:00,0.0,UNKNOWN,United Kingdom,False
131873,547673,47593A,found,13,2011-03-24 13:57:00,0.0,UNKNOWN,United Kingdom,False
132034,547696,35809B,NaN,12,2011-03-24 16:07:00,0.0,UNKNOWN,United Kingdom,False
132105,547704,21621,rcvd be air temp fix for dotcom sit,100,2011-03-24 17:51:00,0.0,UNKNOWN,United Kingdom,False
133227,547813,84840,NaN,1,2011-03-25 14:11:00,0.0,UNKNOWN,United Kingdom,False
133364,547827,22444,NaN,82,2011-03-25 15:10:00,0.0,UNKNOWN,United Kingdom,False
135072,547917,21898,NaN,6,2011-03-28 12:46:00,0.0,UNKNOWN,United Kingdom,False
135297,547927,37444C,NaN,5,2011-03-28 13:59:00,0.0,UNKNOWN,United Kingdom,False
135298,547928,37444B,NaN,1,2011-03-28 14:00:00,0.0,UNKNOWN,United Kingdom,False
135299,547929,21393,NaN,3,2011-03-28 14:00:00,0.0,UNKNOWN,United Kingdom,False
135300,547932,85197,NaN,24,2011-03-28 14:01:00,0.0,UNKNOWN,United Kingdom,False
135301,547933,21445,NaN,1,2011-03-28 14:02:00,0.0,UNKNOWN,United Kingdom,False
135428,547943,21357,NaN,1,2011-03-28 14:58:00,0.0,UNKNOWN,United Kingdom,False
135471,547948,71038,NaN,167,2011-03-28 15:06:00,0.0,UNKNOWN,United Kingdom,False
135476,547957,20713,NaN,32,2011-03-28 15:16:00,0.0,UNKNOWN,United Kingdom,False
135478,547959,20713,NaN,23,2011-03-28 15:19:00,0.0,UNKNOWN,United Kingdom,False
136085,548001,22451,NaN,11,2011-03-29 10:26:00,0.0,UNKNOWN,United Kingdom,False
136650,548161,20734,NaN,2,2011-03-29 13:40:00,0.0,UNKNOWN,United Kingdom,False
137647,548195,79321,NaN,27,2011-03-29 15:36:00,0.0,UNKNOWN,United Kingdom,False
137884,548205,21614,NaN,48,2011-03-29 16:51:00,0.0,UNKNOWN,United Kingdom,False
137886,548207,20713,NaN,25,2011-03-29 17:11:00,0.0,UNKNOWN,United Kingdom,False
138091,548220,79321,NaN,14,2011-03-30 09:47:00,0.0,UNKNOWN,United Kingdom,False
138092,548221,85049B,NaN,1,2011-03-30 09:47:00,0.0,UNKNOWN,United Kingdom,False
138097,548224,47593A,NaN,2,2011-03-30 10:23:00,0.0,UNKNOWN,United Kingdom,False
138249,548261,90104,NaN,2,2011-03-30 11:19:00,0.0,UNKNOWN,United Kingdom,False
138272,548286,10002,NaN,180,2011-03-30 11:47:00,0.0,UNKNOWN,United Kingdom,False
139091,548364,21095,NaN,53,2011-03-30 15:49:00,0.0,UNKNOWN,United Kingdom,False
139382,548379,20702,NaN,11,2011-03-30 16:41:00,0.0,UNKNOWN,United Kingdom,False
139386,548383,84906,NaN,5,2011-03-30 16:46:00,0.0,UNKNOWN,United Kingdom,False
139470,548399,15030,NaN,150,2011-03-30 17:25:00,0.0,UNKNOWN,United Kingdom,False
141168,548535,90010A,NaN,25,2011-03-31 17:33:00,0.0,UNKNOWN,United Kingdom,False
141171,548538,90082B,NaN,3,2011-03-31 17:36:00,0.0,UNKNOWN,United Kingdom,False
141172,548539,90005A,NaN,2,2011-03-31 17:37:00,0.0,UNKNOWN,United Kingdom,False
141932,548637,84596E,NaN,5,2011-04-01 12:32:00,0.0,UNKNOWN,United Kingdom,False
141933,548638,21258,NaN,4,2011-04-01 12:34:00,0.0,UNKNOWN,United Kingdom,False
141934,548639,22627,NaN,1,2011-04-01 12:34:00,0.0,UNKNOWN,United Kingdom,False
142464,548681,72800D,NaN,3,2011-04-01 16:43:00,0.0,UNKNOWN,United Kingdom,False
142466,548683,72801G,NaN,47,2011-04-01 16:45:00,0.0,UNKNOWN,United Kingdom,False
142500,548694,22720,NaN,10,2011-04-01 17:28:00,0.0,UNKNOWN,United Kingdom,False
145733,548997,84507B,NaN,20,2011-04-05 14:33:00,0.0,UNKNOWN,United Kingdom,False
145734,548998,84741C,NaN,8,2011-04-05 14:34:00,0.0,UNKNOWN,United Kingdom,False
145738,549002,21278,NaN,17,2011-04-05 14:36:00,0.0,UNKNOWN,United Kingdom,False
145739,549003,21279,NaN,14,2011-04-05 14:36:00,0.0,UNKNOWN,United Kingdom,False
146118,549034,16248B,NaN,2,2011-04-05 17:08:00,0.0,UNKNOWN,United Kingdom,False
146468,549103,82494L,NaN,167,2011-04-06 11:39:00,0.0,UNKNOWN,United Kingdom,False
146925,549135,20760,NaN,31,2011-04-06 15:23:00,0.0,UNKNOWN,United Kingdom,False
146928,549138,22988,NaN,12,2011-04-06 15:25:00,0.0,UNKNOWN,United Kingdom,False
146930,549140,35819B,NaN,7,2011-04-06 15:26:00,0.0,UNKNOWN,United Kingdom,False
146931,549141,35819B,NaN,70,2011-04-06 15:26:00,0.0,UNKNOWN,United Kingdom,False
146935,549145,21421,NaN,26,2011-04-06 15:28:00,0.0,UNKNOWN,United Kingdom,False
146963,549151,21664,NaN,20,2011-04-06 15:33:00,0.0,UNKNOWN,United Kingdom,False
147222,549163,84247L,NaN,8,2011-04-06 17:18:00,0.0,UNKNOWN,United Kingdom,False
147225,549166,44265,NaN,3,2011-04-06 17:21:00,0.0,UNKNOWN,United Kingdom,False
147247,549177,20821,NaN,9,2011-04-06 17:32:00,0.0,UNKNOWN,United Kingdom,False
149271,549327,84912A,NaN,70,2011-04-08 10:46:00,0.0,UNKNOWN,United Kingdom,False
149281,549345,20748,NaN,12,2011-04-08 11:10:00,0.0,UNKNOWN,United Kingdom,False
149283,549347,35914,NaN,10,2011-04-08 11:11:00,0.0,UNKNOWN,United Kingdom,False
149368,549376,17014A,NaN,11,2011-04-08 11:29:00,0.0,UNKNOWN,United Kingdom,False
149716,549453,84857C,NaN,24,2011-04-08 14:18:00,0.0,UNKNOWN,United Kingdom,False
149717,549454,84858C,NaN,46,2011-04-08 14:18:00,0.0,UNKNOWN,United Kingdom,False
149722,549459,62043B,NaN,7,2011-04-08 14:20:00,0.0,UNKNOWN,United Kingdom,False
149743,549489,85146,NaN,8,2011-04-08 15:05:00,0.0,UNKNOWN,United Kingdom,False
149744,549492,21736,NaN,5,2011-04-08 15:06:00,0.0,UNKNOWN,United Kingdom,False
149745,549494,22168,NaN,6,2011-04-08 15:06:00,0.0,UNKNOWN,United Kingdom,False
149746,549497,21527,NaN,3,2011-04-08 15:06:00,0.0,UNKNOWN,United Kingdom,False
149747,549498,22847,NaN,1,2011-04-08 15:06:00,0.0,UNKNOWN,United Kingdom,False
149748,549500,79321,NaN,1,2011-04-08 15:06:00,0.0,UNKNOWN,United Kingdom,False
149749,549502,84459B,NaN,1,2011-04-08 15:07:00,0.0,UNKNOWN,United Kingdom,False
159610,550460,47556B,did a credit and did not tick ret,1300,2011-04-18 13:18:00,0.0,UNKNOWN,United Kingdom,False
161563,550501,35915C,NaN,30,2011-04-18 15:28:00,0.0,UNKNOWN,United Kingdom,False
161564,550502,84535A,NaN,320,2011-04-18 15:29:00,0.0,UNKNOWN,United Kingdom,False
164079,550761,84388,NaN,6,2011-04-20 12:10:00,0.0,UNKNOWN,United Kingdom,False
164606,550815,85027L,NaN,8,2011-04-20 16:42:00,0.0,UNKNOWN,United Kingdom,False
165546,550926,22469,NaN,8,2011-04-21 14:39:00,0.0,UNKNOWN,United Kingdom,False
165547,550927,84990,NaN,1,2011-04-21 14:40:00,0.0,UNKNOWN,United Kingdom,False
165548,550928,22867,NaN,3,2011-04-21 14:41:00,0.0,UNKNOWN,United Kingdom,False
165549,550929,22470,NaN,2,2011-04-21 14:41:00,0.0,UNKNOWN,United Kingdom,False
165550,550930,22988,NaN,2,2011-04-21 14:41:00,0.0,UNKNOWN,United Kingdom,False

In [20]:
pd.reset_option('display.max_rows')

In [21]:
# There's one thing to gift 0-priced items to unknown customers. But above's Description column is clearly stating that these rows do not mean anything and must be removed. 
Transactions_df = Transactions_df[
    ~(
        (~Transactions_df['Description'].str.contains(r'\b[A-Z]+\b', na=False)) &
        (Transactions_df['CustomerID'] == 'UNKNOWN') &
        (Transactions_df['UnitPrice'] == 0)
    )
]

## **7. Description**

In [22]:
# Missing values? 
print("It's okay to have missing values in Description as long as InvoiceNo and StockCode are not missing.\n")
Transactions_df[Transactions_df['Description'].isnull()]

It's okay to have missing values in Description as long as InvoiceNo and StockCode are not missing.

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, Cancelled]
Index: []

In [23]:
# Do all instances of the same item share the same description? 
description_check = Transactions_df.groupby('StockCode')['Description'].nunique()

# StockCodes with more than one unique description
inconsistent_stockcodes = description_check[description_check > 1]

print(f"Number of inconsistent StockCodes: {len(inconsistent_stockcodes)}")

Number of inconsistent StockCodes: 225

In [24]:
print("\nExamples of inconsistent StockCodes:")
for stockcode in inconsistent_stockcodes.index[:10]:  # First 10 examples
    print(Transactions_df[Transactions_df['StockCode'] == stockcode][['StockCode', 'Description']].drop_duplicates())
    print("-" * 50)

Examples of inconsistent StockCodes:
       StockCode     Description
47060     16156L  WRAP, CAROUSEL
137274    16156L   WRAP CAROUSEL
--------------------------------------------------
       StockCode                          Description
6448      17107D  FLOWER FAIRY,5 SUMMER B'DRAW LINERS
313823    17107D         FLOWER FAIRY 5 DRAWER LINERS
345675    17107D    FLOWER FAIRY 5 SUMMER DRAW LINERS
--------------------------------------------------
       StockCode          Description
1853       20622   VIPPASSPORT COVER
242245     20622  VIP PASSPORT COVER
--------------------------------------------------
      StockCode              Description
92        20725  LUNCH BAG RED RETROSPOT
57853     20725     LUNCH BAG RED SPOTTY
--------------------------------------------------
      StockCode                          Description
412       20914  SET/5 RED RETROSPOT LID GLASS BOWLS
57842     20914     SET/5 RED SPOTTY LID GLASS BOWLS
--------------------------------------------------
      StockCode                        Description
2509      21109  LARGE CAKE TOWEL, CHOCOLATE SPOTS
28748     21109   LARGE CAKE TOWEL CHOCOLATE SPOTS
--------------------------------------------------
      StockCode                    Description
6202      21112  SWISS ROLL TOWEL, PINK  SPOTS
64839     21112   SWISS ROLL TOWEL PINK  SPOTS
--------------------------------------------------
       StockCode                    Description
118        21175    GIN + TONIC DIET METAL SIGN
499386     21175  GIN AND TONIC DIET METAL SIGN
--------------------------------------------------
       StockCode                     Description
305        21232  STRAWBERRY CERAMIC TRINKET BOX
414039     21232  STRAWBERRY CERAMIC TRINKET POT
--------------------------------------------------
       StockCode            Description
551        21243  PINK  POLKADOT PLATE
443981     21243   PINK POLKADOT PLATE
--------------------------------------------------

In [25]:
# Function to get the most frequent description for each StockCode
def get_most_frequent_description(Descriptions):
    return Descriptions.value_counts().idxmax()

# Get the most frequent description for each StockCode
most_frequent_descriptions = Transactions_df.groupby('StockCode')['Description'].agg(get_most_frequent_description)

# Replace all 'Description' values with the most frequent one for their StockCode
Transactions_df['Description'] = Transactions_df['StockCode'].map(most_frequent_descriptions)

# Verify Results
description_check = Transactions_df.groupby('StockCode')['Description'].nunique()
inconsistent_stockcodes = description_check[description_check > 1]
print(f"Number of inconsistent StockCodes: {len(inconsistent_stockcodes)}")

Number of inconsistent StockCodes: 0

## **8. Country**

In [26]:
# Missing values? 
Transactions_df[Transactions_df['Country'].isnull()]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, Cancelled]
Index: []

In [27]:
# Invalid country names? 
print(Transactions_df['Country'].value_counts())

Country
United Kingdom          491769
Germany                   9096
France                    8234
EIRE                      8075
Spain                     2468
Netherlands               2330
Belgium                   1971
Switzerland               1969
Portugal                  1475
Australia                 1257
Norway                    1060
Italy                      783
Channel Islands            753
Finland                    653
Cyprus                     619
Unspecified                446
Sweden                     437
Austria                    387
Denmark                    375
Japan                      355
Poland                     336
Israel                     297
USA                        291
Hong Kong                  280
Singapore                  215
Iceland                    182
Canada                     150
Greece                     142
Malta                      123
United Arab Emirates        67
European Community          58
RSA                         57
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              28
Bahrain                     19
Saudi Arabia                10
Name: count, dtype: int64

In [28]:
Transactions_df.to_csv('Transactions.csv', index=False)